/* Import Montserrat from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primary-color: #ffffff;
  --secondary-color: #64748b;
}
/* Apply it globally */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
